* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
  font-size: 20px;
}
.container {
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  border: 2px solid black;
  height: 60px;
  background-color: white;
  width: 100%;
}
/* .content {
  flex: 1 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "item1" "item2" "item3"
    "item4" "item4" "item4"
    "item5" "item5" "item6";
  gap: 5px;
} */
.test {
}
.item {
  background-color: white;
  border: 2px solid black;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
